# Secrets
.env
.env.*

# Python
__pycache__/
*.pyc

# Audio generated
backend/app/audio/

# Flutter
.dart_tool/
build/

# macOS
.DS_Store

# Chroma DB
backend/chroma_db/

# Uploaded PDFs
backend/uploads/


# Virtual environments
backend/.venv/
.venv/
venv/

# Document Registry
backend/app/database/document_registry.json
